{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block head %}
    {{ super() }}
	<script src="{{ url_for('static', filename='js/avatars.js') }}" type="text/javascript"></script>
    <style type="text/css">
    .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <form class="form-horizontal" method="post">
        <fieldset>
            <!-- Form Name -->
            <legend>Form Name</legend>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="username">Username</label>
                <div class="col-md-4">
                    <input id="username" name="username" type="text" placeholder="probablysomethingoffensive" class="form-control eightbit-font eightbit-input input-md" required="">
                </div>
                
				<label class="col-md-4 control-label" for="avatar">Avatar</label>
				
				<p>
				  {% for item in avatars %}
				    <img id="{{ item.name }}_hero" src="static/images/{{ item.hero_image }}" />
				  {% endfor %}
				</p>
				<div class="col-md-4">
                    <select id="avatar_id" name="avatar" class="eightbit-font eightbit-input form-control">
                    {% for item in avatars %}
                        <option value="{{ item.id }}">{{ item.name }}</option>
                    {% endfor %}
                </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    <button id="submit" name="submit" class="btn btn-primary eightbit-btn">Submit</button>
                </div>
            </div>
        </fieldset>
    </form>
{% endblock %}
